/* Style.css */

/* Style de la section "Réalisations" */
.realisations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
}

.realisation img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Style de l'en-tête */
header {
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    padding: 20px;
    text-align: center;
    color: #fff; /* Couleur du texte de l'en-tête */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

h1 {
    margin: 0;
    text-align: center;
    color: #333; /* Couleur du titre principal */
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent du titre */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Liens */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('realisation/font%203%20nat.jpg'); /* URL de votre image */
    background-position: center; /* Centre l'image de fond */
    background-color: #f0f0f0; /* Couleur de secours */
    margin: 0;
    padding: 0;
    color: #ffffff;
    position: relative;
    background-size: cover;
    background-attachment: fixed; /* Pour que l'image de fond reste fixe */
}
/* Positionnement de la barre de recherche */
#search-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Style de la barre de recherche */
#search-bar {
    width: 200px; /* Largeur de la zone de recherche */
    padding: 5px;
}

/* Style du bouton de recherche */
#search-button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
